body{
    text-align: center;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-evenly;
}
.app{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card{
    border: 1px solid black;
    border-radius: 30px;
    width: 300px;
    margin:  10px auto;
   

}
.col{
    width: 33%;
    
}

form{
    background-color: rgba(19, 11, 11, 0.9);
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
    width: 30vw;
    margin: auto;
    color: rgb(255, 255, 255);
}

.col img, .card img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 300px;
    width: 300px;
    margin: auto;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-direction: row;
    
    
}

